In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('play_tennis.csv')
data.head()
#data.drop(columns=['day'],inplace=True)

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [3]:
data.shape

(14, 5)

In [4]:
data['Play Tennis'].value_counts()

Play Tennis
Yes    9
No     5
Name: count, dtype: int64

In [5]:
py = 9/14
pn = 5/14

In [6]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [7]:
# Outlook
pd.crosstab(data['Outlook'], data['Play Tennis'])

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [8]:
Pon = 0
Prn = 2/5
Psn = 3/5

Poy = 4/9
Pry = 3/9
Psy = 2/9

In [9]:
# temp 
pd.crosstab(data['Temperature'], data['Play Tennis'])

Play Tennis  No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [10]:
PCoolNo=1/5
PHotNo=2/5
PMildNo=2/5

PCoolYes=3/9
PHotYes=2/9
PMildYes=4/9

In [11]:
# Humidity
pd.crosstab(data['Humidity'], data['Play Tennis'])

Play Tennis  No  Yes
Humidity
High          4    3
Normal        1    6

In [12]:
PHighNo=4/5
PNormalNo=1/5

PHighYes=3/9
PNormalYes=6/9

In [13]:
# Wind
pd.crosstab(data['Wind'], data['Play Tennis'])

Play Tennis  No  Yes
Wind
Strong        3    3
Weak          2    6

In [14]:
PStrongNo = 3/5
PWeakNo = 2/5

PStrongYes=3/9
PWeakYes = 6/9

In [15]:
# Outlook = Sunny, Temp =Hot, Humidity = High, Wind= Weak
Pyes = py*Psy*PHotYes*PHighYes*PWeakYes
print(Pyes)

0.007054673721340388

In [16]:
# probability no
Pno = pn*Psn*PHotNo*PWeakNo
print(Pno)

0.03428571428571429

In [17]:
# which one is greater 
# so, No play